<div class="row">
    <div class="col-md-12">
        <img [src]="recipe.imagePath" alt= "recipe.name" class="max-ht">
    </div>
    
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <h1 class="mb-2">{{recipe.name}}</h1>
        <div class="col-md-12 mb-2">
            <div class="btn-group mb-2" appDropdown>
                    <button type="button" data-toggle="dropdown"  class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
                    <ul class="dropdown-menu pt-0">
                        <li>
                            <a style="cursor: pointer;" (click)= addToShopping()>To Shopping List</a>
                        </li>
                        <li>
                            <a style="cursor: pointer;" (click)= "onEditRecipe(recipe.id)">Edit Recipe</a>
                        </li>
                        <li>
                            <a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a>
                        </li>
                        
                    </ul>
        </div>
    </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-xs-12"> {{recipe.description}}</div>
</div>
<div class="row mb-2">
    <div class="col-xs-12"> 
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>

</div>